<ion-header>
	<ion-toolbar color="primary">

		<ion-buttons slot="start">
			<ion-back-button defaultHref="app/home"></ion-back-button>
		</ion-buttons>


		<ion-title>
			Search
		</ion-title>

	</ion-toolbar>
</ion-header>

<!-- <ion-header>
	<ion-toolbar color="primary">

		<ion-buttons slot="start">
			<ion-back-button defaultHref="app/home"></ion-back-button>
		</ion-buttons>
		<ion-searchbar focus class="stationSearch" #mainSearchbar class="items-searchbar" (ionInput)="searchFn($event);"
			(ionClear)="onClear($event)" mode="ios" placeholder="Serch by Name or ID"></ion-searchbar>
	</ion-toolbar>
</ion-header> -->


<ion-content>
	<!-- <ion-item-group> -->
		<!-- <ion-item-divider sticky style="padding-left: 0; border-bottom: none !important;"> -->
			<!-- <ion-row style="width: 100%; "> -->

				<!-- <ion-col size="12"> -->
					<ion-searchbar debounce="30000" showCancelButton="focus" (ionInput)="searchFn($event); " #mainSearchbar class="items-searchbar"
						(ionCancel)="onClear($event)" mode="ios" placeholder="Search by Name or ID"></ion-searchbar>

					<ion-list>


						<ion-card *ngFor="let item of siteList; let i=index;" class="glass-card">
						<!-- <ion-card *ngFor="let item of siteList | filter: term; let i=index;" class="glass-card"> -->


							<ion-card-content>

								<ion-row style="margin-bottom: 5px;" (click)="toggleGroup(item, i)">
									<ion-col style="padding: 0 !important;" size="9">
										<strong>
											<ion-text color="primary">{{item?.siteName}}</ion-text>
										</strong>
									</ion-col>
									<ion-col style="padding: 0 !important; text-align: right;" size="3">
										<span>
											<ion-icon style="height: 20px;width: 20px;" color="primary"
												name="{{item.show ? 'chevron-down-circle' : 'chevron-forward-circle'}}">
											</ion-icon>
										</span>
									</ion-col>
								</ion-row>

								<ion-row (click)="toggleGroup(item, i)">
									<ion-col style="padding: 0 !important;" size="9">

										<ion-text color="primary">{{item?.address}}</ion-text>
									</ion-col>
									<ion-col style="padding: 0 !important; text-align: right;" size="3">
										<ion-text color="primary">{{item?.distance}} km</ion-text>
									</ion-col>
								</ion-row>


								<ion-row *ngIf="isGroupShown(item)">
									<ion-item (click)="stationDetails(station)" class="inner-contents item-40px glass-card-inner" lines="none"
										*ngFor="let station of stationList" style="margin-top: 16px;width: 100%;">
										<div style="width: 100%; display: flex; justify-content: space-between;">
											<span style="display: flex;align-items: center;">

												<div [ngClass]="[ station.isAvailable && station.isConnectedToIoTHub ? 'greenGradient' : '', 
													!station.isAvailable && !station.isConnectedToIoTHub ? 'grayGradient' : '',
													!station.isAvailable && station.isConnectedToIoTHub ? 'redGradient' : '',
													station.isAvailable && !station.isConnectedToIoTHub ? 'grayGradient' : '']"
													style="height: 20px;width: 20px; margin-right: 10px; border-radius:50%"></div>
													
												<!-- <div [ngClass]="station.isAvailable && station.isConnectedToIoTHub ? 'greenGradient' : 'redGradient'"
													style="height: 20px;width: 20px; margin-right: 10px; border-radius:50%"></div> -->


												<ion-text color="primary" style="font-size: 15px;">{{station?.stationName}}</ion-text>
											</span>
										</div>
									</ion-item>


									<ion-item style="width: 100%;" *ngIf="!stationListError" class="inner-contents item-40px "
										lines="none">
										<ion-spinner color="primary" style="text-align: center; display: block; margin: 0 auto;"
											name="bubbles"></ion-spinner>
									</ion-item>

								</ion-row>

							</ion-card-content>
						</ion-card>

					</ion-list>

					<ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreSites($event)">
						<ion-infinite-scroll-content
							loadingSpinner="bubbles"
							loadingText="Loading more data...">
						</ion-infinite-scroll-content>
					</ion-infinite-scroll>

					<!-- https://www.djamware.com/post/59b0ac0c80aca768e4d2b139/an-example-of-ionic-3-infinite-scroll-or-load-more -->


				<!-- </ion-col> -->

			<!-- </ion-row> -->
		<!-- </ion-item-divider> -->
	<!-- </ion-item-group> -->

	
</ion-content>


