<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button><ion-icon name="grid-outline"></ion-icon></ion-menu-button>
      <!-- <ion-back-button defaultHref="app/dashboard"></ion-back-button> -->
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="slideleft">

    <ion-list lines="none">
      <ion-item button>
        <ion-label color="primary">
          <h2 style="font-weight: 500;">{{appName}} App</h2>
          <p><span>Version {{appVersionNumber ? appVersionNumber : ''}} </span></p>
        </ion-label>
      </ion-item>
      <!-- <ion-item *ngIf="platform.is('cordova')" button (click)="rateOurApp()">
        <ion-label color="primary">
          <h2 style="font-weight: 500;">Rate App</h2>
        </ion-label>
      </ion-item> -->
      <ion-item button (click)="openPrivacy()">
        <ion-label color="primary">
          <h2 style="font-weight: 500;">Privacy Policy</h2>
        </ion-label>
      </ion-item>
      <ion-item button (click)="openLicence()">
        <ion-label color="primary">
          <h2 style="font-weight: 500;">Licence</h2>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- <ion-row>
      <ion-col style="padding: 16px 16px 4px !important;" size="12">
        <ion-text color="primary" tappable style="font-size: 14px;">{{appName}} App</ion-text>
      </ion-col>
      <ion-col style="padding: 0 16px !important;" size="12">
        <ion-text color="primary" class="flyin" style="font-size: 12px;">Version
          {{appVersionNumber ? appVersionNumber : ''}}</ion-text>
      </ion-col>
    </ion-row> -->
    <!-- <ion-row tappable (click)="rateOurApp()">
      <ion-col style="padding: 16px 16px 4px !important;" size="12">
        <ion-text color="primary" tappable style="font-size: 14px;">Rate App</ion-text>
      </ion-col>
    </ion-row> -->
    <!-- <ion-row style="height: 48px;" button>
      <ion-col style="padding: 16px 16px 4px !important;" size="12">
        <ion-text color="primary" tappable style="font-size: 14px;">License Agreement</ion-text>
      </ion-col>
    </ion-row>
    <ion-row style="height: 48px;" button>
      <ion-col style="padding: 16px 16px 4px !important;" size="12">
        <ion-text color="primary" tappable style="font-size: 14px;">Privacy Policy</ion-text>
      </ion-col>
    </ion-row> -->
  </div>

</ion-content>