@import "../../../theme/mixins/inputs/radio-tag";
:host {
  --page-icon-color: var(--ion-color-secondary);
  --page-page-color: var(--ion-color-page-content);
}

$colors: (
  tint: #1d5972,
);

.animateButton {
  &:not([disabled]) {
    color: #fff;
    border-radius: 5px;
    animation-name: backgroundColorPalette;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

@keyframes backgroundColorPalette {
  0% {
    background: #216581;
  }
  50% {
    background: #4d6e7c;
  }
  100% {
    background: #002535;
  }
}

.text-icon-muted {
  color: rgba(#216581, 0.5) !important;
}

.text-muted {
  // color: rgba(#000, 0.5) !important;
  color: var(--ion-color-primary-tint);
  font-size: 14px;
}
.text-muted-icon {
  --color: rgba(#000, 0.5) !important;
}
ion-card ion-icon {
  font-size: 36px;
  display: block;
  margin: 0 auto;
}
ion-range {
  padding-inline-start: 16px !important;
}
.avatar-circle {
  width: 36px;
  height: 36px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: table;
  margin: 0 auto;
}

.initials {
  color: #ffffff;
  display: table-cell;
  vertical-align: middle;
}

.item-40px {
  --min-height: 44px !important;
  --max-height: 44px !important;
  height: 44px !important;
  --inner-padding-end: 0px !important;
  --padding-start: 0;
  padding: 0 5px;
}
.user-title {
  margin: 0px;
  color: var(--ion-color-medium);
  font-size: 16px;
}

ion-content {
  --ion-background-color: var(--page-page-color);
}

ion-card {
  background-color: #fff !important;
}

// ion-row {
//   height: 40px !important;
// }

.radio-tags {
  padding: 0px calc(var(--page-margin) - var(--page-tags-gutter));
  //background-color: var(--page-background);
  justify-content: space-between;

  @include radio-tag();

  // Add a deeper selector to override default colors
  .radio-tag {
    --radio-tag-color: var(--ion-color-primary);
    --radio-tag-background: var(--ion-color-lightest);
    --radio-tag-active-color: var(--ion-color-lightest);
    --radio-tag-active-background: var(--ion-color-primary);

    // padding: 0px var(--page-tags-gutter);
    // margin: var(--page-tags-gutter) 0px;

    margin-right: 5px;
  }
}

.range-item {
  --ion-grid-column-padding: 0px;

  // padding-top: var(--page-margin);
  padding-inline-start: var(--page-margin);
  padding-inline-end: var(--page-margin);
  // box-shadow at the top
  box-shadow: inset 0 6px 3px -8px var(--ion-color-darkest);

  .range-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: calc(var(--page-margin) / 2);

    .range-value {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.2px;
      color: var(--ion-color-primary);
    }

    .range-label {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.2px;
      color: var(--ion-color-primary-tint);
    }
  }

  .range-control {
    // override the pin color
    --ion-text-color: var(--ion-color-primary);

    padding-top: 0px;
    padding-bottom: 0px;
  }
}

ion-label, p, span {
  color: var(--ion-color-primary);
}
p {
  margin: 0;
}
