// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.bouncein {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}
.slideleft {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.video-playlist-content {
  --background: var(--page-background);

  .video-data-section {
    padding: var(--page-margin);

    .video-title {
      margin-top: 0px;
      margin-bottom: calc(var(--page-margin) / 2);
      color: var(--ion-color-secondary);
    }

    .video-description {
      margin: 0px;
      font-size: 13px;
      line-height: 1.3;
      letter-spacing: 0.3px;
      color: var(--ion-color-dark);
    }
  }

  .video-playlist-section {
    padding: 0px var(--page-margin);
    padding-bottom: var(--page-margin);

    .playlist-item-row {
      --ion-grid-column-padding: 0px;

      &:not(:first-child) {
        padding-top: calc(var(--page-margin) / 2);
      }

      &:not(:last-child) {
        padding-bottom: calc(var(--page-margin) / 2);
        // box-shadow at the bottom
        box-shadow: inset 0 -7px 3px -8px var(--ion-color-darkest);
      }
    }

    .play-icon-wrapper {
      height: 100%;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;

      .play-icon {
        color: var(--ion-color-secondary);
        background: rgba(var(--ion-color-lightest-rgb), 0.7);
        font-size: 20px;
        padding: 8px;
        border-radius: 50%;
      }
    }

    .video-info-wrapper {
      padding-inline-start: var(--page-margin);
      align-self: center;

      .image-title {
        margin: 0px;
        margin-bottom: calc(var(--page-margin) / 4);
        color: var(--ion-color-secondary);
        font-size: 14px;

        app-text-shell {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .image-description {
        margin: 0px;
        color: var(--ion-color-dark);
        font-size: 13px;
        line-height: 1.3;
        letter-spacing: 0.3px;

        // line clamp https://css-tricks.com/line-clampin/#article-header-id-0
        display: -webkit-box;
        -webkit-line-clamp: 3;
        overflow: hidden;
        // we need autoprefixer off for next line https://github.com/postcss/autoprefixer/issues/776#issuecomment-445249174
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
      }
    }
  }
}
