<ion-app>
  <ion-split-pane when="md" contentId="main-content">
    <ion-menu contentId="main-content" side="start" >
    <!-- <ion-menu contentId="main-content" side="start" class="app-sidemenu"> -->
      <!-- <ion-header>
        <ion-toolbar>
          <ion-row class="user-details-wrapper">
            <ion-col size="4">
              <ion-avatar>
                <ion-icon style="color: #ffffff; height: 64px; width: 64px;" name="person-circle-outline"></ion-icon>
              </ion-avatar>
            </ion-col>
            <ion-col class="user-info-wrapper" size="8">
              <h3 class="user-name" style="color:#ffffff">eZCharge</h3>
              <h5 class="user-handle">@{{userDetails?.user.userName }}</h5>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-header> -->

      <ion-content>
        <div [ngClass]="(info.platform === 'android' || info.platform === 'ios' ) ?'menu-header-bg':'menu-header-bg-web'" ></div>
        <div class="header-content">
          <!-- <img src="" alt=""/> -->
          <ion-icon style="color: #ffffff; height: 80px; width: 80px;" name="person-circle-outline"></ion-icon>
          <ion-label>
            <h2>eZPlug</h2>
            <p>@{{userDetails?.user.userName }}</p>
          </ion-label>
        </div>

        <ion-list class="menu-item" lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index"  > 
            <ion-item [color]="activePath === p.url ? 'primary' : ''" detail (click)="menuClicked(p)" routerDirection="root" [routerLink]="p.url"  [ngClass]=" activePath === p.url ? 'active-menu' : ''" >
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label >
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false"> 
            <ion-item (click)="logoutUser()" routerDirection="root">
              <ion-icon slot="start" name="power"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <!-- <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index"  > 
            <ion-item detail (click)="menuClicked(p)" routerDirection="root" [routerLink]="p.url"  [ngClass]="activePath === p.url ? 'active-menu' : ''" >
              <ion-icon style="color: #fff;" slot="start" [name]="p.icon"></ion-icon>
              <ion-label style="color: #fff;">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> -->

      </ion-content>

      <ion-footer class="ion-text-center" style="color: #216581 !important;">
        <ion-text style="font-size: 14px;">www.ztric.com</ion-text>
      </ion-footer>
    </ion-menu>

    <ion-router-outlet id="main-content" main></ion-router-outlet>
  </ion-split-pane>
</ion-app>




<!-- <ion-app dir="{{textDir}}">
  <ion-split-pane>
    <ion-menu class="app-sidemenu">
      <ion-header>
        <ion-toolbar>
          <ion-row class="user-details-wrapper">
            <ion-col size="4">
              <ion-avatar>
                <ion-icon style="color: #ffffff; height: 64px; width: 64px;" name="ios-contact"></ion-icon>
              </ion-avatar>
            </ion-col>
            <ion-col class="user-info-wrapper" size="8">
              <h3 class="user-name" style="color:#ffffff">eZCharge</h3>
              <h5 class="user-handle">@{{userDetails?.user.userName }}</h5>
            </ion-col>
          </ion-row>

        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url" detail>
              <ion-icon style="color: #fff;" slot="start" [name]="p.icon"></ion-icon>
              <ion-label style="color: #fff;">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

      <ion-footer class="ion-text-center" style="color: #fff !important;">
        <ion-text style="font-size: 14px;">www.ztric.com</ion-text>
      </ion-footer>

    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>


 -->